<div class="container-fluid bg-primary">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h1> SERVICE </h1>
  
  <div class="header">
      <ul>
  <button class="button" btn btn-primary><li><a routerLink="/home">HOME</a></li></button>&nbsp;
  <button class="button" btn btn-primary><li><a routerLink="/about">ABOUT US</a></li></button>&nbsp;
  <button class="button" btn btn-primary><li><a routerLink="/contact">CONTACT</a></li></button>&nbsp;
 
 
  </ul>
  </div>
  </div>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
    

<div id="demo" class="carousel slide" data-ride="carousel">

  
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    
    
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/img1.jpg" alt="Los Angeles" width="1366" height="500">
      </div>
      <div class="carousel-item">
        <img src="assets/img/img2.jpg" alt="Chicago" width="1366" height="500">
      </div>
      <div class="carousel-item">
        <img src="assets/img/img3.jpg" alt="New York" width="1366" height="500">
      </div>
    </div>
    
    
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
  </div>
  </div>
  </div>
  <br>
  <br>
  <div class="container">
  <div class="row">
      <div class="col-lg-8">



<h2><a href="#" class="alert-link">What is Zueb Foundation Framework?</a></h2>
<br>

<p>This was posted on the 2nd of January 2013 by ieatcss.</p>

<br>
<br>
<p>Zurb Foundation is the most advanced responsive front-end framework in the world. Foundation 4 offers a free collection of tools to create complex responsive websites easily. It contains HTML and CSS based design templates for Grids, Buttons, Forms, UI elements, Typography and much more.</p>
<br>
<br>

<p>It has Flexible, efficient layout. In simple words, Zurb Foundation is what you need to start your web design carrier.</p>
</div>


<div class="col-lg-4">
  <img id="side"src="assets/img/img7.jpg">
</div>
</div>
</div>
<br>
<br>
<footer class="d-flex justify-content-center mt-auto col-lg-12 bg-info p-3 text-white mb-4">
    <span>Copyright (C) 2019 -www.services.com</span>
</footer>

  
   
       
