<div class="container-fluid bg-primary">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h1> INDEX </h1>
  
  <div class="header">
      <ul>
  <button class="button" btn btn-primary><li><a routerLink="/about">ABOUT US</a></li></button>&nbsp;
  <button class="button" btn btn-primary><li><a routerLink="/contact">CONTACT</a></li></button>&nbsp;
  <button class="button" btn btn-primary><li><a routerLink="/service">SERVICE</a></li></button>&nbsp;
  </ul>
  </div>
  </div>
  </div>
  <br>
  <br>
<div class="container">
  <h2>ABOUT WIKIPEDIA</h2>


  <p>
    Wikipedia is a live collaboration differing from paper-based reference sources in important ways. Unlike printed encyclopedias, Wikipedia is continually created and updated, with articles on historic events appearing within minutes, rather than months or years. Because everybody can help improve it, Wikipedia has become more comprehensive than any other encyclopedia. In addition to quantity, its contributors work on improving quality as well. <br><br>
    Wikipedia is a work-in-progress, with articles in various stages of completion. As articles develop, they tend to become more comprehensive and balanced. Quality also improves over time as misinformation and other errors are removed or repaired. However, because anyone can click "edit" at any time and add stuff in, any article may contain undetected misinformation<br><br>
    Wikipedia is written collaboratively by largely anonymous volunteers who write without pay. Anyone with Internet access can write and make changes to Wikipedia articles, except in limited cases where editing is restricted to prevent disruption or vandalism. Users can contribute anonymously, under a pseudonym, or, if they choose to, with their real identity.<br><br>
    Since its creation in 2001, Wikipedia has grown rapidly into one of the largest reference websites, attracting 374 million unique visitors monthly as of September 2015.[1] There are about 72,000 active contributors working on more than 48,000,000 articles in 302 languages. As of today, there are 5,818,591 articles in English<br><br>

  </p>

 
  </div>
  <br>
  <br>
  <footer class="d-flex justify-content-center mt-auto col-lg-12 bg-info p-3 text-white mb-4">
      <span>Copyright (C) 2019 -www.home.com</span>
  </footer>
  


<router-outlet></router-outlet>